$mono-black: black;
$mono-gray: gray;
$mono-white: white;

$red-base: red;
$orange-darkorange: darkorange;
$orange-burlywood: burlywood;

$page-base: $mono-white;
$page-accent: $orange-darkorange;
$page-sub: $orange-burlywood;
$page-caption: $mono-gray;

$page-ura-base: $mono-black;
$page-ura-text: $mono-gray;
$page-ura-accent: $red-base;
