$mono-black: black;
$mono-gray: gray;
$mono-white: white;

$orange-darkorange: darkorange;
$orange-burlywood: burlywood;

$page-base: $mono-white;
$page-accent: $orange-darkorange;
$page-sub: $orange-burlywood;
$page-caption: $mono-gray;
